<%- include('partials/header') %> 

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->
  
    <!-- Pre-header Starts -->
    <div class="pre-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-sm-8 col-7">
            <ul class="info">
              <li><a href="#"><i class="fa fa-envelope"></i>birajmishra34@gmail.com</a></li>
              <li><a href="#"><i class="fa fa-phone"></i>9842027810</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-sm-4 col-5">
            <ul class="social-media">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Pre-header End -->
  
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="main-nav">
              <!-- ***** Logo Start ***** -->
              <a href="/" class="logo">
                <img src="assets/images/logoonly12.png" alt="">
              </a>
              <!-- ***** Logo End ***** -->
              <!-- ***** Menu Start ***** -->
              <ul class="nav">
                <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                <li class="scroll-to-section"><a href="#about">About</a></li>
                <li class="scroll-to-section"><a href="#services">Services</a></li>
                <!-- <li class="scroll-to-section"><a href="#portfolio">Projects</a></li>
                <li class="scroll-to-section"><a href="#blog">Blog</a></li> -->
                <li class="scroll-to-section"><a href="#contact">Contact</a></li> 
                <li class="scroll-to-section"><div class="border-first-button"><a href="#contact">Book a Meeting !</a></div></li> 
              </ul>        
              <a class='menu-trigger'>
                  <span>Menu</span>
              </a>
              <!-- ***** Menu End ***** -->
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- ***** Header Area End ***** -->
  
    <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-6 align-self-center">
                <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                  <div class="row">
                    <div class="col-lg-12">
                      <h6>Pair Media</h6>
                      <h2>We Make Professional Websites Quick <br> and Easy</h2>
                      <p>At our website making agency, we specialize in creating stunning and effective websites for businesses of all sizes. Our
                      team of experienced web designers and developers work together to craft custom websites that are tailored to meet the
                      unique needs of each of our clients.</p>
                    </div>
                    <div class="col-lg-12">
                      <div class="border-first-button scroll-to-section">
                        <a href="#contact">Contact Us</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                  <img src="assets/images/gg.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div id="about" class="about section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-6">
                <div class="about-left-image  wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                  <img src="assets/images/about-dec.png" alt="">
                </div>
              </div>
              <div class="col-lg-6 align-self-center  wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <div class="about-right-content">
                  <div class="section-heading">
                    <h6>About Us</h6>
                    <h4>Who is <em>Pair Media</em></h4>
                    <div class="line-dec"></div>
                  </div>
                  <p>We are a lean website making agency who will make you professional websites at an affordable price. Just strated a business and want to make a website without wasting half of your bank account? We are your perfect match</p>
                  <div class="row">
                    <div class="col-lg-4 col-sm-4">
                      <div class="skill-item first-skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                        <div class="progress" data-percentage="90">
                          <span class="progress-left">
                            <span class="progress-bar"></span>
                          </span>
                          <span class="progress-right">
                            <span class="progress-bar"></span>
                          </span>
                          <div class="progress-value">
                            <div>
                              90%<br>
                              <span>Coding</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                      <div class="skill-item second-skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                        <div class="progress" data-percentage="80">
                          <span class="progress-left">
                            <span class="progress-bar"></span>
                          </span>
                          <span class="progress-right">
                            <span class="progress-bar"></span>
                          </span>
                          <div class="progress-value">
                            <div>
                              80%<br>
                              <span>Photoshop</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                      <div class="skill-item third-skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                        <div class="progress" data-percentage="80">
                          <span class="progress-left">
                            <span class="progress-bar"></span>
                          </span>
                          <span class="progress-right">
                            <span class="progress-bar"></span>
                          </span>
                          <div class="progress-value">
                            <div>
                              80%<br>
                              <span>Animation</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div id="services" class="services section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
              <h6>Our Principle</h6>
              <h4>How Our Agency <em>Provides</em></h4>
              <div class="line-dec"></div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="naccs">
              <div class="grid">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="menu">
                      <div class="first-thumb active">
                        <div class="thumb">
                          <span class="icon"><img src="assets/images/service-icon-01.png" alt=""></span>
                          Discovery
                        </div>
                      </div>
                      <div>
                        <div class="thumb">                 
                          <span class="icon"><img src="assets/images/service-icon-02.png" alt=""></span>
                          Design
                        </div>
                      </div>
                      <div>
                        <div class="thumb">                 
                          <span class="icon"><img src="assets/images/service-icon-03.png" alt=""></span>
                          Development
                        </div>
                      </div>
                      <div>
                        <div class="thumb">                 
                          <span class="icon"><img src="assets/images/service-icon-04.png" alt=""></span>
                          Launch
                        </div>
                      </div>
                      <div class="last-thumb">
                        <div class="thumb">                 
                          <span class="icon"><img src="assets/images/service-icon-01.png" alt=""></span>
                          Maintenance
                        </div>
                      </div>
                    </div>
                  </div> 
                  <div class="col-lg-12">
                    <ul class="nacc">
                      <li class="active">
                        <div>
                          <div class="thumb">
                            <div class="row">
                              <div class="col-lg-6 align-self-center">
                                <div class="left-text">
                                  <h4>Initial Meeting</h4>
                                  <p>Firstly, we have a detailed zoom meeting with our clients and explain you all about how we work with screenshare. In this meeting, we will talk about:</p>
                                  <div class="ticks-list"><span><i class="fa fa-check"></i> Why build a website?</span> <span><i class="fa fa-check"></i> How we work?</span> <span><i class="fa fa-check"></i> Why Us?</span>
                                    <span><i class="fa fa-check"></i> Price</span> <span><i class="fa fa-check"></i> SEO Analysis</span> <span><i class="fa fa-check"></i> Extra Info</span></div>
                                  <p>Interested? Why don't you</p>
                                  <div class="border-first-button scroll-to-section">
                                    <a href="#contact">Book a meeting!</a>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-6 align-self-center">
                                <div class="right-image">
                                  <img src="assets/images/services-image.jpg" alt="">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div>
                          <div class="thumb">
                            <div class="row">
                              <div class="col-lg-6 align-self-center">
                                <div class="left-text">
                                  <h4>Initial Design</h4>
                                  <p>We then design your website and show you the initial design to get your feedback. Only after you are satisfied, will we start the development process.</p>
                                  <br><br>
                                </div>
                              </div>
                              <div class="col-lg-6 align-self-center">
                                <div class="right-image">
                                  <img src="assets/images/services-image-02.jpg" alt="">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div>
                          <div class="thumb">
                            <div class="row">
                              <div class="col-lg-6 align-self-center">
                                <div class="left-text">
                                  <h4>Making the Website</h4>
                                  <p>We then make your website with all our heart, making sure you are happy. And the most important thing, we do it QUICKLY! We make sure your website is:</p>
                                  <div class="ticks-list"><span><i class="fa fa-check"></i> Optimized</span> <span><i class="fa fa-check"></i> Safe</span> <span><i class="fa fa-check"></i> Professional</span>
                                    <span><i class="fa fa-check"></i> Simple</span> <span><i class="fa fa-check"></i> User-Friendly</span> <span><i class="fa fa-check"></i> High-Quality</span></div>
                                </div>
                              </div>
                              <div class="col-lg-6 align-self-center">
                                <div class="right-image">
                                  <img src="assets/images/services-image-03.jpg" alt="">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div>
                          <div class="thumb">
                            <div class="row">
                              <div class="col-lg-6 align-self-center">
                                <div class="left-text">
                                  <h4>Publishing the Website</h4>
                                  <p>Finally, we publish the website and teach you how to update it from the back-end. And all of this, completed within a week.</p>
                                  <p>Sounds fair?</p>
                                  <div class="border-first-button scroll-to-section">
                                    <a href="#contact">Book a meeting!</a>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-6 align-self-center">
                                <div class="right-image">
                                  <img src="assets/images/services-image-04.jpg" alt="">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div>
                          <div class="thumb">
                            <div class="row">
                              <div class="col-lg-6 align-self-center">
                                <div class="left-text">
                                  <h4>Maintainance</h4>
                                  <p>We will be available for maintainance of your websites 24/7. Free-of-cost.</p>
                                </div>
                              </div>
                              <div class="col-lg-6 align-self-center">
                                <div class="right-image">
                                  <img src="assets/images/services-image.jpg" alt="">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>          
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    
    <div id="free-quote" class="free-quote">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 offset-lg-4">
            <div class="section-heading  wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
              <h6>Get Your Free Quote</h6>
              <h4>Grow With Us Now</h4>
              <div class="line-dec"></div>
            </div>
          </div>
          <div class="col-lg-8 offset-lg-2  wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
            <form id="search" action="#" method="GET">
              <div class="row">
                <div class="col-lg-4 col-sm-4">
                  <fieldset>
                    <input type="web" name="web" class="website" placeholder="Your website URL..." autocomplete="on" required>
                  </fieldset>
                </div>
                <div class="col-lg-4 col-sm-4">
                  <fieldset>
                    <input type="address" name="address" class="email" placeholder="Email Address..." autocomplete="on" required>
                  </fieldset>
                </div>
                <div class="col-lg-4 col-sm-4">
                  <fieldset>
                    <button type="submit" class="main-button">Get Quote Now</button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  
  

    <%- include('message') %>
    <%- include('partials/footer') %>